h1{
  color:orange;
  background-color:black;
  font-family: courier;
  font-size:50px;
}
p{
  color:red;
  background-color:orange;
  font-family: impact;
  font-size:30px;
}
#second-h{
  background-color : maroon ;
}
body{
     background-color:green;
}
table{
  background-color:orange;
  border:5px solid black;
  border:5px dashed black;
}
td , p{
  background-color:yellow;
  color:red;
}
#ch{
  border:10px solid blue;
}
th{
  border:15px solid maroon ;
}
#rw{
  color:green;
  border:15px solid maroon ;
}

